.content .container-fluid .row .employees3 img{
    background-color: rgba(255, 255, 255,  0.9);
    width: 450px;
    height: 300px;
    align-items: center;
    vertical-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

